@font-face{font-family:'Permian';src:url('../fonts/PermianSansTypeface.otf')};

.landing-page .slick-prev, .landing-page .slick-next {
  font-size: 3em;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 35px;
  height: 60px;
  padding: 6px 0 0 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 3px;
  transition: color 0.2s ease, background 0.2s ease;

  &:hover {
    background: #1ac6ff;

    i {
      color: white;
    }
  }
}

#lightboxBackdrop {
  button {
    border-width: 0;
    padding: 10px;
    min-width: unset;
    margin: 0;
    margin-right: -10px;
  }
}

.slick-prev:before, .slick-next:before {
  content: none;
}

.price {
  line-height: normal !important;
}

.old-price {
  text-decoration: line-through;
  font-size: 1.8em;
}

.tag {
  margin: 5px;
  padding: 3px;
  background: #fd5555;
  color: white;
  position: relative;
  top: -5px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.permian {
  font-family: 'Permian' !important;
  *:not(.fa):not(input) {
    font-family: 'Permian' !important;
  }
}

button {
  &.close {
    min-width: 42px;
    min-height: 42px;
    padding: 10px;
    font-size: 30px;
    line-height: 0.5;
  }
}

.redux-toastr .toastr .close-toastr {
  min-width: initial;
  color: white;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.package-column .package-price .price.min {
  font-size: 65px;

  .currency {
    top: 5px;
  }
}

.navigation-header .navigation-brand .brand-logo {
  width: 140px;

  .logo, .logo.logo-alt {
    background-image: url(./img/logo_mini.png);

    strong {
      color: #1ac6ff;
      font-size: 16px;
      font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
      padding-left: 35px;
      border-bottom: 2px solid transparent;
    }
  }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 -3000px; }
}

@keyframes animatedBackgroundBack {
  from { background-position: 0 0; }
  to { background-position: 0 3000px; }
}

.matrix-bg {
  background: #000304;
  background-image: url(./img/background/cicads/11.png), url(./img/background/cicads/7.png), url(./img/background/cicads/3.png), url(./img/background/cicads/1.gif);
  background-position: top center;
  box-shadow: inset 0 0 300px 0 #000;
  //animation: animatedBackground 320s linear infinite;
  //-webkit-animation: animatedBackground 320s linear infinite;

  .matrix-bg-2 {
    background-image: url(./img/background/cicads/11.png), url(./img/background/cicads/3.png);
    background-position: top center;
    //animation: animatedBackground 240s linear infinite;
    //-webkit-animation: animatedBackground 240s linear infinite;

    .matrix-bg-3 {
      background-image: url(./img/background/cicads/7.png);
      background-position: top center;
      box-shadow: inset 0px 300px 3000px 100px rgba(0,0,0,.8);
      //animation: animatedBackground 170s linear infinite;
      //-webkit-animation: animatedBackground 170s linear infinite;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .matrix-bg, .matrix-bg-2, .matrix-bg-3 {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .matrix-bg-3 {
    box-shadow: inset 0px 400px 300px 0px rgba(0,0,0,.7) !important;
  }
}

footer {
  .logo-wrapper {
    .heading {
      top: 90px;
      position: absolute;
      left: 170px;
      font-size: 24px;
    }
  }
}

.base-clr-bg, .btn:hover, button:not(.default):hover, input[type=button]:not(.default):hover, input[type=submit]:not(.default):hover, .btn:focus, button:not(.default):focus, input[type=button]:not(.default):focus, input[type=submit]:not(.default):focus, .btn.hovered, button:not(.default).hovered, input[type=button]:not(.default).hovered, input[type=submit]:not(.default).hovered, .btn.btn-solid, button:not(.default).btn-solid, input[type=button]:not(.default).btn-solid, input[type=submit]:not(.default).btn-solid, .btn.btn-outline-color:hover, button:not(.default).btn-outline-color:hover, input[type=button]:not(.default).btn-outline-color:hover, input[type=submit]:not(.default).btn-outline-color:hover, .btn.btn-outline-color:focus, button:not(.default).btn-outline-color:focus, input[type=button]:not(.default).btn-outline-color:focus, input[type=submit]:not(.default).btn-outline-color:focus, .btn.btn-outline-color:active, button:not(.default).btn-outline-color:active, input[type=button]:not(.default).btn-outline-color:active, input[type=submit]:not(.default).btn-outline-color:active, .btn.btn-outline-color.hovered, button:not(.default).btn-outline-color.hovered, input[type=button]:not(.default).btn-outline-color.hovered, input[type=submit]:not(.default).btn-outline-color.hovered, .btn.btn-outline-color.pressed, button:not(.default).btn-outline-color.pressed, input[type=button]:not(.default).btn-outline-color.pressed, input[type=submit]:not(.default).btn-outline-color.pressed, .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu li.active a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus, .nav-tabs.alt > li > a:hover, .nav-tabs.alt > li > a:active, .nav-tabs.alt > li > a:focus, .nav-tabs.alt > li.active a, .panel-group .panel .panel-heading a, .table > thead > tr > th, .thumb-wrapper .overlay, .progress-wrapper .progress .progress-bar, .team-member .overlay-wrapper:before, .team-member .socials-block > li a, .long-block, .featured-tab li.active > a .tab-info, .featured-tab li.active > a .tab-icon, .package-column:hover, .package-column.featured, .post-thumbnail a:after, .blog-tags .tags-item a:hover, .blog-tags .tags-item a:active, .blog-tags .tags-item a:focus, .product-list.material-view .product:hover .product-price-wrapper:before, .product-slider .bx-controls-direction a:hover, .cart-checkout-navigation-list > li:hover .cart-checkout-navigation-list-item-link:before, .cart-checkout-navigation-list > li.active .cart-checkout-navigation-list-item-link:before, .cart-list thead th:before, .payment-confirm .table thead th:before, .cart-list-item-meta:before, .cart-list-item-remove, .payment-method:before, .payment-method .pseudo-radio:after, .navigation-header .navigation-toggle .icon-bar, .fixed-menu .navigation-header .btn.btn-outline:hover, .fixed-menu .navigation-header .btn.btn-outline:active, .navigation-header.white-header .btn.btn-outline:hover, .navigation-header.white-header .btn.btn-outline:active, .static-header.waiting-list-version ul li:before, .color-landing-page .static-header, .color-landing-page .newsletter-section, .color-landing-page .feedback-section, .color-landing-page .footer {
  background-color: #61648a;
}
